body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.to-do-list{
  font-size: 20px;
  color: white;
  width:600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-do-list input{
  padding: 10px 15px;
  font-size:14px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}

.add-button{
  padding: 9px 12px;
  background-color: rgb(18, 178, 18);
  border: none;
  border-radius: 10px;
  color: white;
}

ol{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li{
  display: flex;
  flex-direction: row;  
  gap: 50px;
  justify-content: space-between;
}

.buttons{
  display: flex;
  gap: 10px;
}

.delete-button{
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.move-button{
  background-color: rgb(118, 186, 238);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}